---
name: Wheels

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "30 4 15 * *"

permissions: {}


jobs:
  wheels:
    name: Building for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, windows-2022, windows-11-arm, macOS-14]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false

      # See pyproject.toml for config.
      - uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  riscv64_wheels:
    name: Building for riscv64
    runs-on: [self-hosted, linux, riscv64]
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false

      # don't use pypa/cibuildwheel action here, because setup python is failling for riscv64
      - name: Install python3 and pip
        run: sudo apt install -y python3 pipx
      - name: Add pipx binaries to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install cibuildwheel
        run: pipx install cibuildwheel
      # See pyproject.toml for config.
      - name: Build riscv wheels
        run: cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
...
